.contentFinTravaux {
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 50px;
    padding-left: 50px;
    height: 1403px;
}
    .installateurFinTravaux {
        padding-top: 150px;
    }
    .title {
        font-size: 28px;
        text-align: center;
    }

    .installateurCoordonnee, .coordonneBenef, .materielleTitle {
        font-size: 22px;
    }

    .coordonnee {
        font-size: 16px;
    }

    .materielInstalle {
        padding-top: 200px;
    }
     
    table {
        width: 100%;
        border-collapse: collapse;
        /* margin: 50px auto; */
    }

    /* Zebra striping */
    /* tr:nth-of-type(odd) {
            background: #eee;
        } */

    th {
        /* background: #3498db;
            color: white; */
        font-weight: bold;
    }
    td {
        border: 1px solid;
        text-align: left;
        font-size: 16px;
    }

    th {
        padding: 10px;
        border: 1px solid;
        text-align: center;
        font-size: 16px;
    }

    .table--top {
        margin-top: 8rem;
    }

    .table--top td {
        width: 50%;
    }

    .app--center {
        text-align: center;
        background-color: #ccc;
    }

    .border-input {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid black;
        /* width: 80%; */
    }

    .mt-1rem {
        margin-top: 1rem;
    }

    .case {
        border: 2px solid black;
        height: 150px;
        width: 300px;
    }

    .d-flex {
    display: -webkit-box;
    }

    .half {
        width: 50%;
    }

    .my--2rem {
        margin-top: 2rem;
        margin-bottom: 20px;
    }

    .thead--color {
        background-color: #ccc;
    }
    .mt-3rem{
        margin-top: 3rem;
    }
    .tamponCase {
        width: 300px !important;
    }
    .tampon{
        text-decoration: underline;
        margin-top: 25px;
    }
    
    .custom-checkbox {
        display: inline-block;
        position: relative;
        cursor: pointer;
        margin-right: 10px;
      }

      /* Styles pour le span qui contient l'input checkbox */
      .custom-checkbox span {
        display: inline-block;
        width: 13px;
        height: 13px;
        margin-right: 5px;
        border: 1px solid black;
        background-color: #fff;
      }

      /* Styles pour l'input checkbox caché */
      .custom-checkbox input[type="checkbox"] {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
      }

      /* Styles pour la case à cocher cochée */
      .custom-checkbox input[type="checkbox"]:checked + span:before {
        content: "\2713";
        font-size: 14px;
        position: absolute;
        top: 2px;
        left: 5px;
      }


    .input-1{
        width: 83%;
    }
    .input-2{
        width: 80%;
    }
    .input-3{
        width: 86%;
    }
    .input-4{
        width: 88%;
    }
    .input-5{
        width: 80%;
    }
    .input-6{
        width: 90%;
    }
    .input-7{
        width: 91%;
    }
    .input-40{
        width: 40%;
    }
    .input-20{
        width: 20%;
    }

