<div class="contentFinTravaux">
    <div class="installateurFinTravaux">
        <h1 class="title">FICHE <span style="font-weight: 400;" >FIN DE TRAVAUX</span> AVANT MISE EN SERVICE</h1>
        <h4 class="mt-3rem installateurCoordonnee">COORDONNÉES DE L’INSTALLATEUR</h4>
        <div class="d-flex coordonnee">
            <div class="half" style="width: 60%">
                <div>
                    <label>Raison Sociale :</label>
                    <span><strong>@devi.regie.name.upcase </strong></span>
                </div>
                <div style="margin-top: 19px;">
                    <label>Nom du Technicien : </label>
                    <span></span>
                </div>
                <div style="margin-top: 19px;">
                    <label>N° de Siret :</label>
                    <span><strong>@devi.regie.siret </strong></span>
                </div>
                <div style="margin-top: 19px;">
                    <label>Adresse :</label>
                    <span><strong>@devi.regie.adresse </strong></span>
                </div>
                <div style="margin-top: 19px;">
                    <label>Code postal / Ville :</label>
                    <span><strong>"#{@devi.regie.cp}" "/" "#{@devi.regie.ville}" </strong></span>
                </div>
                <div style="margin-top: 19px;">
                    <label>Mail :</label>
                    <span><strong>@devi.regie.email </strong></span>
                </div>
                <div style="margin-top: 19px;">
                    <label>Tél :</label>
                    <span><strong>@devi.regie.tel </strong></span>
                </div>
            </div>

            <div style="width: 30%">
                <div class="case"></div>
                <div class="tamponCase" style="text-align: center">
                    <p class="tampon"> Logo ou Tampon </p>
                    image_tag @devi.regie.logo.url, style: "display: -webkit-box; width: 150px; margin: 0 auto;" if @devi.regie.logo.attached? 
                </div>
            </div>
        </div>
        <h4 class="my--2rem coordonneBenef">COORDONNÉES DU BÉNÉFICIAIRE</h4>
        <div class="coordonnee" style="width: 100% !important">
            <div class="mt-1rem">
                <label for="">Nom : </label>
                    <span><strong>@devi.lead.nom.upcase </strong></span>
                
                <label for="" style="margin-left: 27px">Prénom : </label>
                    <span><strong>@devi.lead.prenom.present? ? @devi.lead.prenom.upcase : "" </strong></span>
                
            </div>
            <div class="mt-1rem">
                <label for="">Tél : </label>
                    <span><strong>@devi.lead.tel.present? ? @devi.lead.tel : "" </strong></span>
                
                <label for="" style="margin-left: 20px">Mail : </label>
                    <span><strong>@devi.lead.email.present? ? @devi.lead.email : "" </strong></span>
                
            </div>
            <div class="mt-1rem">
                <label for="">Adresse des travaux : </label>
                    <span><strong>@devi.lead.autreadresse.present? ? "#{@devi.lead.adresse2} - #{@devi.lead.codepostal2} - #{@devi.lead.ville2}" : "#{@devi.lead.adresse} - #{@devi.lead.codepostal} - #{@devi.lead.ville}" </strong></span>
                
            </div>
        </div>
        <h4 class="my--2rem coordonneBenef">INFORMATIONS DU CHANTIER</h4>
        <div class="informationChantier">
            <table>
                <thead>
                    <tr class="thead--color">
                        <th>Données de l'habitation</th>
                        <th>Valeurs
                            (à renseigner)</th>
                        <th>Émetteurs de
                            chaleur</th>
                        <th>A cocher</th>
                        <th>Quantité
                            (à renseigner)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-column="First Name">Surface de l'habitation (m²) </td>
                        <td data-column="Last Name"></td>
                        <td data-column="Job Title">Radiateur fonte</td>
                        <td data-column="Twitter" style="text-align: center; vertical-align: middle; padding-top: 5px !important;">
                            <label class="custom-checkbox">
                                <input type="checkbox">
                                <span></span>
                            </label>
                        </td>
                        <td data-column="Twitter"></td>
                    </tr>
                    <tr>
                        <td data-column="First Name">Hauteur de plafond (m) </td>
                        <td data-column="Last Name"></td>
                        <td data-column="Job Title">Radiateur Basse
                            température</td>
                        <td data-column="Twitter" style="text-align: center; vertical-align: middle; padding-top: 5px !important;">
                            <label class="custom-checkbox">
                                <input type="checkbox">
                                <span></span>
                            </label>
                        </td>
                        <td data-column="Twitter"></td>
                    </tr>
                    <tr>
                        <td data-column="First Name">Année de construction </td>
                        <td data-column="Last Name"></td>
                        <td data-column="Job Title">Plancher Chauffant</td>
                        <td data-column="Twitter" style="text-align: center; vertical-align: middle; padding-top: 5px !important;">
                            <label class="custom-checkbox">
                                <input type="checkbox">
                                <span></span>
                            </label>
                        </td>
                        <td data-column="Twitter"></td>
                    </tr>
                    <tr>
                        <td data-column="First Name"> </td>
                        <td data-column="Last Name"></td>
                        <td data-column="Job Title">Ventilo-convecteur</td>
                        <td data-column="Twitter" style="text-align: center; vertical-align: middle; padding-top: 5px !important;">
                            <label class="custom-checkbox">
                                <input type="checkbox">
                                <span></span>
                            </label>
                        </td>
                        <td data-column="Twitter"></td>
                    </tr>
                    <tr>
                        <td colspan="5" class="app--center"> <strong> Application(s) </strong></td>
                    </tr>
                    <tr>
                        <td colspan="4" rowspan="4">Remplacement de chaudière (avec résistance en sécurité)</td>
                        <td> 
                            <label class="custom-checkbox" style="margin-left: 8px !important; margin-top: 2px !important;">
                                <input type="checkbox">
                                <span></span>
                            </label>
                            Fioul
                        </td>
                    </tr>
                    <tr>
                        <td> 
                            <label class="custom-checkbox" style="margin-left: 8px !important; margin-top: 2px !important;">
                                <input type="checkbox">
                                <span></span>
                            </label>
                            Charbon
                        </td>
                    </tr>
                    <tr>
                        <td> 
                            <label class="custom-checkbox" style="margin-left: 8px !important; margin-top: 2px !important;">
                                <input type="checkbox">
                                <span></span>
                            </label>
                            Gaz
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="materielInstalle">
        <h1 class="title">FICHE <span style="font-weight: 400;" >FIN DE TRAVAUX</span> AVANT MISE EN SERVICE</h1>
        <h4 class="my--2rem materielleTitle"><strong> MATÉRIELS INSTALLÉS</strong></h4>
        <div class="coordonnee" style="width: 100% !important; margin-bottom: 70px !important">
            <div class="">
                <div class="">
                    <label class="custom-checkbox">
                        <input type="checkbox">
                        <span style="width: 8px !important; height: 8px !important;"></span>
                    </label>
                    <label for=""><strong>PAC</strong> Marque :</label>
                    <input class="border-input" style="width: 22% !important;" type="text" name="" id="">
                    <label for="">Modèle : </label>
                    <input class="border-input input-20" type="text" name="" id="">
                    <label for="">Puissance :</label>
                    <input class="border-input" style="width: 21% !important;" type="text" name="" id="">
                </div>
                <div style="font-size: 12px !important; margin-left: -11px !important">
                    <label for="">N° de Série unité extérieure : </label>
                    <input class="border-input" style="width: 18% !important;" type="text" name="" id="">
                    <label for="">N° de Série unité intérieure :</label>
                    <input class="border-input" style="margin-left: 69px !important; width: 30.5% !important;" type="text" name="" id="">
                </div>
            </div>
            <div style="margin-top: 35px !important">
                <div>
                    <label class="custom-checkbox">
                        <input type="checkbox">
                        <span style="width: 8px !important; height: 8px !important;"></span>
                    </label>
                    <label for=""><strong>CHAUDIERE</strong> Marque :</label>
                    <input class="border-input" style="width: 15% !important;" type="text" name="" id="">
                    <label for="">Modèle : </label>
                    <input class="border-input input-20" type="text" name="" id="">
                    <label for="">Puissance :</label>
                    <input class="border-input" style="width: 20% !important;" type="text" name="" id="">
                </div>
                <div style="font-size: 12px !important; margin-left: -11px !important">
                    <label for="">N° de Série : </label>
                    <input class="border-input" style="margin-left: 26px !important; width: 27% !important;" type="text" name="" id="">
                    <label for="">Puissance à laquelle la chaudière est brider (kW) :</label>
                    <input class="border-input" type="text" style="width: 23% !important" name="" id="">
                </div>
            </div>
            <div style="margin-top: 35px !important">
                <div>
                    <label class="custom-checkbox">
                        <input type="checkbox">
                        <span style="width: 8px !important; height: 8px !important;"></span>
                    </label>
                    <label for=""><strong>SSC</strong> Marque : </label>
                    <input class="border-input" style="width: 23% !important;" type="text" name="" id="">
                    <label for="">Modèle : </label>
                    <input class="border-input input-20" type="text" name="" id="">
                    <label for="">Puissance :</label>
                    <input class="border-input input-20" type="text" name="" id="">
                </div>
                <div style="font-size: 12px !important; margin-left: -11px !important">
                    <label for="">N° de Série : </label>
                    <input class="border-input" style="margin-left: 26px !important; width: 27.5% !important;" type="text" name="" id="">
                </div>
            </div>
            <div style="margin-top: 35px !important">
                <div>
                    <label class="custom-checkbox">
                        <input type="checkbox">
                        <span style="width: 8px !important; height: 8px !important;"></span>
                    </label>
                    <label for=""><strong>POÊLE</strong> Marque : </label>
                    <input class="border-input input-20" type="text" name="" id="">
                    <label for="">Modèle : </label>
                    <input class="border-input input-20" type="text" name="" id="">
                    <label for="">Puissance :</label>
                    <input class="border-input" style="width: 20.2% !important" type="text" name="" id="">
                </div>
                <div style="font-size: 12px !important; margin-left: -11px !important">
                    <label for="">N° de Série : </label>
                    <input class="border-input" style="margin-left: 24px !important; width: 27.4% !important;" type="text" name="" id="">
                </div>
            </div>
            <div style="margin-top: 35px !important">
                <div>
                    <label class="custom-checkbox">
                        <input type="checkbox">
                        <span style="width: 8px !important; height: 8px !important;"></span>
                    </label>
                    <label for=""><strong>CET</strong> Marque : </label>
                    <input class="border-input input-20" type="text" name="" id="">
                    <label for="">Modèle : </label>
                    <input class="border-input input-20" type="text" name="" id="">
                    <label for="">Capacité (L) : </label>
                    <input class="border-input" style="width: 21% !important" type="text" name="" id="">
                </div>
                <div style="font-size: 12px !important; margin-left: -11px !important">
                    <label for="">N° de Série : </label>
                    <input class="border-input" style="margin-left: 24px !important; width: 24.3% !important;" type="text" name="" id="">
                </div>
            </div>
            <div style="margin-top: 35px !important">
                <div>
                    <label class="custom-checkbox">
                        <input type="checkbox">
                        <span style="width: 8px !important; height: 8px !important;"></span>
                    </label>
                    <label for=""><strong>CESI</strong> Marque :</label>
                    <input class="border-input input-20" type="text" name="" id="">
                    <label for="">Modèle : </label>
                    <input class="border-input input-20" type="text" name="" id="">
                    <label for="">Capacité (L) :</label>
                    <input class="border-input" style="width: 21% !important" type="text" name="" id="">
                </div>
                <div style="font-size: 12px !important; margin-left: -11px !important">
                    <label for="">N° de Série : </label>
                    <input class="border-input" style="margin-left: 24px !important; width: 25% !important;" type="text" name="" id="">
                </div>
            </div>
            <div style="margin-top: 35px !important">
                <div>
                    <label class="custom-checkbox">
                        <input type="checkbox">
                        <span style="width: 8px !important; height: 8px !important;"></span>
                    </label>
                    <label for=""><strong>VMC</strong> Marque : </label>
                    <input class="border-input input-20" type="text" name="" id="">
                    <label for="">Modèle : </label>
                    <input class="border-input input-20" type="text" name="" id="">
                    <label for="">Puissance :</label>
                    <input class="border-input" style="width: 22.2% !important" type="text" name="" id="">
                </div>
                <div style="font-size: 12px !important; margin-left: -11px !important">
                    <label for="">N° de Série : </label>
                    <input class="border-input" style="margin-left: 25px !important; width: 25% !important;" type="text" name="" id="">
                </div>
            </div>
        </div>
        <div style="font-size: 16px !important;">
            <h3><strong>Mise en service effectuée par :</strong></h3>
            <div style="margin-left: -30px !important; margin-top: -8px !important;">
                <label class="custom-checkbox">
                    <input type="checkbox">
                    <span style="width: 8px !important; height: 8px !important;"></span>
                </label>
                <span>L’Installateur</span>
            </div>
            <div style="margin-left: -30px !important;">
                <label class="custom-checkbox">
                    <input type="checkbox">
                    <span style="width: 8px !important; height: 8px !important;"></span>
                </label>
                <span>Le Fabricant ou une Station Technique (<small>joindre le rapport de mise en service</small>)</span>
            </div>
        </div>
        <div style="margin-top: 30px !important;">
            <h3><strong>Mise en service réalisée par :</strong></h3>
            <div style="margin-top: -8px !important;">
                <div class="mt-1rem" style="font-size: 16px !important;">
                    <label for="">Raison Sociale :</label>
                    <strong>installateur.present? ? installateur.nom.upcase : @devi.regie.name.upcase </strong>
                    <label for="" style="margin-left: 18px">Nom du Technicien :</label>
                </div>
                <div style="font-size: 12px !important;">
                    <label for="">N° de Siret : </label>
                    <strong>installateur.present? ? installateur.siret : @devi.regie.siret </strong>
                    <label for="" style="margin-left: 18px">Mail :</label>
                    <strong>installateur.present? ? installateur.email : @devi.regie.email </strong>
                    <label for="" style="margin-left: 18px">Tél :</label>
                    <strong>installateur.present? ? installateur.tel : @devi.regie.tel </strong>
                </div>
                <div class="mt-1rem" style="font-size: 16px !important;">
                    <label for="">Adresse : </label>
                    <strong>installateur.present? ? "#{installateur.adresse} - #{installateur.cp} - #{installateur.ville}" : "#{@devi.regie.adresse} - #{@devi.regie.cp} - #{@devi.regie.ville}" </strong>
                </div>
            </div>
        </div>
        <div class="d-flex my--2rem">
            <div class="half" style="font-size: 16px !important">
                <p>Date, Cachet et Signature du professionnel </p>
                <p>
                    <strong>
                        <% if @devi.facture.date_fin_travaux.present? 
                        @devi.facture.date_fin_travaux.split("-").reverse.join("/") 
                        <% elsif @devi.facture.date_signature.present? 
                        @devi.facture.date_signature.strftime("%d/%m/%Y") 
                        <% elsif @devi.facture.date_facture.present? 
                        @devi.facture.date_facture.strftime("%d/%m/%Y") 
                        <%end
                    </strong>
                </p>
                <% if installateur.present? && installateur.signature_tampon.attached? 
                    image_tag installateur.signature_tampon.url, style: "width: 120px; height: 120px;" 
                <% else 
                    image_tag @devi.regie.signature_tampon.url, style: "width: 120px; height: 120px;" 
                <% end 
            </div>
            <div style="font-size: 16px !important">
                <p>Date et Signature du bénéficiaire</p>
                <small>Mention "Lu et Approuvé"</small>
            </div>
        </div>
    </div>
</div>
